fastapi
uvicorn[standard]
python-dotenv
pydantic
python-multipart
PyJWT
passlib[bcrypt]
bcrypt
httpx
requests
sentence-transformers
transformers
torch
faiss-cpu
numpy
beautifulsoup4
lxml
trafilatura
pdfplumber
python-docx
pandas
openpyxl
django
djangorestframework
psycopg2-binary
mysqlclient
asgiref